<!DOCTYPE HTML>
<html>
<head>
<title>实验室后台登录</title>
<!-- Custom Theme files -->
<script src="../static/jquery-3.2.1.js"></script>
<script src="../static/hello.js"></script>
<!-- Custom Theme fil<script src="<%=basePath%>static/js/bootstrap.min.js"></script>es -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="cache-control" content="no-cache">
<meta name="keywords" content="后台登录" />
<!--Google Fonts-->
<!--<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
--><!--Google Fonts-->
</head>
<body>
<!--header start here-->

<h1>Hello world</h1>
<!--header start here-->

<img src=""  id="resultImg">
	
</img>

<script type="text/javascript">
    test();

</script>
</body>
</html>
